.navbar-brand{  
    
    font-family: 'Josefin Sans', sans-serif;
    font-size: x-large;
    
}
.tab-content {
    padding-top: 15%;
    padding-right: 25%;
    padding-left: 25%;
}

.nav-pills {
    position: fixed;
}

.nav-pills .nav-link.active {
    background-color: #26a269;
    color: #ffffff;
    
}
.nav-pills .nav-link {
  color: #424242;
}
.btn-primary.custom-btn {
	background-color: #26a269;
	border-color: #26a269;
}
.carrusel {
  padding: 10%;
}

.tamimg {
    display: table-cell;
    height: 30%;
    text-align: center;
    width: 30%;
    vertical-align: middle;
    border-radius: 5px;
}
.carousel-caption {
      background-image:  linear-gradient(rgba(0,0,0,0), rgba(0,0,0,1));
      color: rgba(255,255,255,1) !important;
      text-align: center;
      top:  70%;
      bottom: 0%;
      right: 35%;
      left: 35%;
    border-radius: 5px;
}
